Source: alltray
Section: x11
Priority: optional
Maintainer: Michael B. Trausch <mike@trausch.us>
Build-Depends: debhelper (>= 5.0.0), dpatch (>= 2.0.28), autotools-dev, libgtk2.0-dev, libgconf2-dev, libgtop2-dev, libwnck-dev, valac (>= 0.7.6)
Standards-Version: 3.7.3
Homepage: http://alltray.trausch.us/

Package: alltray
Architecture: any
Depends: ${shlibs:Depends}
Description: Dock any program into the system tray
 AllTray "docks" software into the system tray, making it possible to
 un-clutter things like the task bar.  You can run software such as
 Evolution, Thunderbird, or plain-old xterm and give it an icon in
 the system tray.  When you click on the icon, the application will
 be hidden or shown.
